html{
    box-sizing: border-box;

}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
      box-sizing: content-box;
    width: 900px;
    height: 2077px ;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    font-family: 'Playfair Display','Arial', serif;
    color: #626262;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    padding: 0 auto;

    background-color: antiquewhite;
}
.container{
    width: 900px;
    padding: 0px;
    margin: 0px;
   background-color: rgb(4, 28, 36);
}
.main-nav-container{
    width: 900px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 100px;
    margin:0px;
    background-color: lightslategray
    
}
.main-menu{
    display: inline-block;
    width: 1200;
    background-color: magenta;
    margin-left: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    

}
.main-menu li:not(:last-child){
    margin-right: 60px;
    padding: 0px;
    text-align: center;
}
.main-menu li{
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin-right: 0px;
    
}
.main-menu-item a:hover,
.main-menu-item a:focus {
     color :#03a9f4 ;
     font-size: 14px;
     line-height: 24px;
     text-transform: uppercase;
}
.button-container{
    width: 900px;
    padding-top: 55px;
    padding-bottom: 70px;
    margin:0 auto;

    background-color: rgb(170, 175, 180)
}
h3 {
font-size: 30px;
font-weight: normal;
line-height: 36px;
}
button {
    font-size: 20px;
    line-height: 24px;
}
ul {
    list-style: none;

}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    }
p{
    color: #b4ad9e;
}

.main-content li{
    width: 420px;
    margin: 0;
    padding: 0;

}
.inline-a {
    display: inline-block;
    width: 420px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 125px;
    background-color: mediumseagreen;
    

}
().inline-a.inline-a:nth-child(2n){
    margin-right:0;)
}
 (.main-content:nth-child(1n){
    margin-left: 0px;

})
.main-content{
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 420px;
    margin-right: 60px;
}
.main-content:last-child {
    margin: 0px;
}
.main-content{
    padding: 0;

}
.main-content li{
    padding: 0;
 margin-bottom: 125px;
 margin-right: 56px;   
}
.main-content li:nth-child(2n){
    margin-right: 0px;
}
.main-content li:nth-last-child(-n+2){
    margin-bottom: 0px;
    padding: 0px
    ;

}
li{padding: 0px;
}
ul {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}
p{
    text-align: left;
    margin-top: 20px;
    background-color: orange;
}
h3 {
    text-align: left;
    background-color: maroon;
    margin-top: 26px
    margin-bottom-26px

}
li{


    background-color: #b4ad9e;
    text-align: left;
    }
 