html{
    box-sizing: border-box;

}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
    box-sizing: content-box;
    width: 900px;
    height: 2077px ;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    font-family: 'Playfair Display','Arial', serif;
    color: #626262;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    padding: 0 auto;
    background-color:rgb(255, 255, 255);
}
.container{
    width: 900px;
    padding: 0px;
    margin: 0 auto;
   background-color: rgb(255, 255, 255);
}
.main-nav-container{
    width: 900px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 95px;
    margin:0px;
    background-color: rgb(255, 255, 255);
    }
.main-menu{
    display: inline-block;
    width: 1200;
    background-color: rgb(255, 255, 255);
    margin-left: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    }
.main-menu li:not(:last-child){
    margin-right: 60px;
    padding: 0px;
    text-align: center;
}
.main-menu li{
    display: inline-block;
    text-align: center;
    padding: 0px;
}
.main-menu-item a:hover,
.main-menu-item a:focus {
     color :#03a9f4 ;
     font-size: 14px;
     line-height: 24px;
     text-transform: uppercase;
}
li{
    padding: 0px;
}

p{
    text-align: left;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}
h3 {
    text-align: left;
    background-color:rgb(255, 255, 255);
    margin-top: 22px;
    margin-bottom: 26px;

}
li{
background-color:rgb(255, 255, 255);
    text-align: left;
    }
img{
     padding: 0px;
     margin: 0;
}
 
 h3 {
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    }
button {
        font-size: 20px;
        line-height: 24px;
    }
ul {
        list-style: none;
        margin:0px;
        padding:0px;
    
    }
    
a {
        text-decoration: none;
        text-transform: uppercase;
        color: #626262;
        }
    p{
        color: #b4ad9e;
    }

.main-content li{
    width: 420px;
    margin: 0;
    padding: 0;


}
.inline-a {
    display: inline-block;
    width: 420px;
    padding: 0px;
    margin: 0px;
    
}
.inline-a:nth-child(2n){
    margin-right:0;
}

.main-content{
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 900x;
    margin-right: 0px;
    
}
.main-content:last-child {
    margin: 0px;
}
.main-content{
    padding: 0px;
    margin: 0px;

}
.main-content li{
    display: inline-block;
  padding: 0px;
 margin-bottom: 120px;
 margin-right: 56px;   
}
.main-content li:nth-child(2n){
    margin-right: 0px;
}
.main-content li:nth-last-child(-n+2){
    margin-bottom: 0px;
    padding: 0px;
}

.button-container{
        width: 900px;
        padding-top: 55px;
        padding-bottom: 70px;
        margin:0 auto;
        text-align: center;
        background-color: #ffffff
    }
button {
        padding:18px 35px;
        }
 .button-container button:hover,
 .button-container button:focus{
         background-color:#03a9f4  ;
         opacity: 30%;
         font-size: 20px;
         line-height: 24px;
    
     }  