html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    width: 1200px;
    height: 2077px;
    margin: auto;
    font-size: 0;
    line-height: 0px;
    font-family:'Playfair Display', 'Arial', serif;
    
}
/*--navigator--*/


.main-menu-items{
    display: inline-block;
    

}
.menu{
    box-sizing: border-box;
    width: 900px;
    height: 190px;
    padding-top:71px;
    padding-left: 0;
    margin: auto;
    font-size: 14px;
    line-height: 24px;
    text-align: center;


}
.main-menu{
    padding: 0;
}
.main-menu-items{
    margin-right: 30px;
    text-transform: uppercase;
    line-height: 24px;
     
    
}
.main-menu-items:last-child{
    margin-right: 0;
}


.main-menu-link{
    text-decoration: none;
    color:#626262;
}
.main-menu-link:hover{
    color: #03a9f4;
}
/*--main section--*/
.main-content{
    
    box-sizing: border-box;
    width: 900px;
    height: 1700px;
    margin: auto;
    padding: 0;
    
    
}
.main-content-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.content-items{
    display: inline-block;
    width: 420px;
    margin-right: 50px;
    margin-bottom: 108px;
}
.content-items:nth-of-type(2n){
    margin-right: 0;
    
}
.content-items:nth-last-of-type(-n+2){
    margin-bottom: 0;
}

/*--text--*/

.lorem{
    font-size: 14px;
    line-height: 24px;
    color:#626262;
}
p{
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-top: 28px;
    margin-bottom: 26px;
}
h3{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #626262;
    margin-top: 30px;
    margin-bottom: 32px;
}

/*---button--*/
.load-more{
    font-size: 20px;
    line-height: 24px;
    display: block;
    width: 166px;
    height: 60px;
    text-align: center;
    color: #626262;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 52px;
}
.load-more:hover{
    color:#03a9f4;
    
}
.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
