html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* {
  outline: 3px solid royalblue;
}*/

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 0;
}

.navigation {
  background-color: white;
  padding-top: 28px;
  padding-bottom: 30px;
}

.navigation-container {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.logo::first-letter {
  color: #1abc9c;
}

.navigation-list {
  float: right;
}

.navigation-list-item {
  display: inline-block;
  margin-top: 8px;
}

.clearfix::after {
  display: table;
  content: " ";
  clear: both;
}

.navigation-list-item-link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  padding: 0 15px;
}

.navigation-list-item-link:hover {
  color: #4ec6ab;
}

/*--SLIDER__*/

.slider-background {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

.slider {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0);
  opacity: 0.5;
}

.slider-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1110px;
  height: 600px;

  padding-top: 0;
  padding-bottom: 0;
}

.button {
  width: 104px;
  height: 104px;
  background-color: #4ec6ab;
  border: 0;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  position: absolute;
  left: 0;
  background-image: url(../images/prev.png);
  background-repeat: no-repeat;
  background-position: center;
}

.next {
  position: absolute;
  right: 0;

  background-image: url(../images/next.png);
  background-repeat: no-repeat;
  background-position: center;
}

.button:hover {
  background-color: rgba(78, 198, 171, 0.65);
}

/*--PARIS TOUR--*/

.slider-title {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 748px;
  margin: auto;
}

.slider-title-item {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;

  color: white;
  text-transform: uppercase;
  line-height: 78px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.slider-title-options {
  font-size: 20px;
  left: 17px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 20px;
  text-align: left;
}

/*--NEW COLLECTION--*/

.collection {
  background-color: #e9f0fd;
  width: 100%;
}

.collection-container {
  width: 1110px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 95px;
}

.collection-title {
  font-family: serif;
  font-size: 48px;
  line-height: 52px;
  color: #515151;
  font-family: "Roboto", sans-serif;

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 81px;
}

.collection-title:after {
  display: block;
  margin: 0 auto;
  content: " ";
  width: 164px;
  height: 7px;
  background-color: #4ec6ab;
  margin-top: 28px;
}
.collection-list-item {
  width: 255px;
  height: 322px;
  font-size: 17px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
}

.photo-content {
  display: block;
}
.photo-content-name {
  position: relative;
  width: 255px;
  height: 41px;

  background-color: rgba(0, 0, 0, 0.84);
}

.photo-content-product {
  padding: 10px 0px 10px 12px;
}

.photo-content-price {
  width: 55px;
  height: 41px;
  text-align: center;
  padding: 10px 0px;
  background-color: rgba(255, 255, 255, 0.384);
  position: absolute;
  right: 0;
  top: 0;
}

.collection-list-item {
  float: left;
  margin-right: 30px;
}

.collection-list-item:last-child {
  margin-right: 0px;
}

.collection-list-item {
  position: relative;
}

.overlay-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 88%;
  border: 10px solid rgba(255, 255, 255, 0.11);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content-list-icon {
  margin-right: 5px;
  margin-bottom: 8px;
}
.overlay-content-list-icon-common {
  display: inline-block;
  width: 50px;
  height: 50px;

  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.2);

  background-repeat: no-repeat;
  background-position: center;
}

.heart {
  background-image: url(../images/cour.png);
}

.direction {
  background-image: url(../images/direction.png);
}

.clock {
  background-image: url(../images/clock.png);
}

.overlay-content-list-icon-common-basket {
  width: 166px;
  height: 50px;
  padding-right: 18px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  background-image: url(../images/stroll.png);
  background-position-y: center;
  background-position-x: 7px;
  background-repeat: no-repeat;
  text-align: end;

  background-color: #323232;
}

.collection-list-item {
  position: relative;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-content-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay-content-list-icon {
  float: left;
  cursor: pointer;
}

.overlay-content-list-icon:nth-of-type(3) {
  margin-right: 0;
}

.overlay-content-list-icon-common:hover {
  background-color: #4ec6ab;
  cursor: pointer;
}

.overlay-content-list-icon-common-basket:hover {
  background-color: #4ec6ab;
  cursor: pointer;
}

.photo-content-name:hover {
  background-color: #4ec6ab;
  cursor: pointer;
}

.overlay-content {
  opacity: 0;
  visibility: hidden;
}

.collection-list-item:hover .overlay-content {
  opacity: 1;
  visibility: visible;
}

.footer-rights {
  background-color: #323232;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}

.rights-text {
  color: white;
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
}

.rights-text-link {
  color: white;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}

.rights-text-link {
  color: #4ec6ab;
}
