/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
    url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('../fonts/roboto-v20-latin-100italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-100italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  outline: 3px solid royalblue;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
}

button {
  outline: none;
}

/* ======   NAVIGATION  =========== */

.container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.navigation_logo {
  text-decoration: none;
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;

  line-height: 1.2;
}

.navigation_item-link {

  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
}

.navigation-menu {
  width: 53%;

}

.navigation-menu-list {
  display: flex;
  justify-content: space-between;
}



.navigation {
  background-color: rgba(28, 42, 68, 0.685);

}


/* ===============NAVIGATION============== */

/* ==========HEADLINE================== */
.headline {
  position: relative;
  padding: 230px 0;
  text-align: center;
}



@media (-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 192dpi) {
  .headline {
    background-image: linear-gradient(0deg, rgba(252, 227, 138, .9), rgb(243, 129, 129, .9)),
      url("../images/banner.jpg");
    background-size: cover;
  }
}

.headline_subject {

  font-size: 72px;
  font-family: "Kaushan Script";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-bottom: 50px;

}

.headline_slogan {
  font-size: 150px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 100px;


}

.headline_slogan-part {
  display: block;
}

.headline_btn {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  width: 164px;
  height: 44px;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}


.service {
  padding: 52px 0 96px 0;
  text-align: center;
}

.service_title {

  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  margin-bottom: 20px;

}

.service_title-part {
  display: block;
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 25px;

}

.service-list_item {
  width: calc((100% - 80px) /3);
  padding-left: 82px;
}

.service-list_item:nth-of-type(-n+3) {
  margin-bottom: 50px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-list_item-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 20px;
}

.service-list_item-description {

  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;


}

.team {
  text-align: center;
  padding: 100px 0 100px 0;

}

.team_title {
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  margin-bottom: 20px;

}

.team_title-part {
  display: block;
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 25px;

}

.team_title-description {
  width: 80%;

}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list_item {
  width: calc((100% - 60px) / 3);
}

.overlay_photo {
  display: block;
  margin-bottom: 20px;
}

.team-list_item-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 16px;

}

.team-list_item-occupation {

  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;



}

/* ========Overlay====== */
.overlay_gradient {
  width: 380px;
  height: 470px;
  background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.1), rgba(243, 129, 129, 0.1));
}

.overlay_svg {
  width: 55px;
  height: 55px;
  fill: rgb(12, 11, 11);

}